.container {
  margin-top: 1rem;
}

.container form {
}

.contianer form button[type="submit"] {
}

.container .search-container {
}

.container .search-container input[type="text"] {
}

.container .search-container .search-results {
  border: 2px solid black;
}

.container .search-container .search-results2 {
  display: none;
}

.container .search-container .search-results2.visible {
  display: block;
}
