.container {
  margin-top: 1rem;
  text-align: center;
}

.container form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.submit-btn {
}

.container .search-container {
}

.container .search-container input[type="text"] {
}

.container .search-container .search-results {
  border: 2px solid black;
}

.container .search-container .search-results2 {
  display: none;
}

.container .search-container .search-results2.visible {
  display: block;
}
