:root {
  --columns: 3;
}

.container-stastics {
}

.data-container {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: 1px;
  background: black;
}

.cell {
  padding: 9px;
  background: white;
}
